<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap/3.3.7/css/bootstrap.min.css">
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-messages.min.js"></script>
<script src="js/angular/angular-locale_zh-cn.js"></script>
</head>
<body ng-app="myApp" ng-controller="tempCtrl">

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="glyphicon glyphicon-th-list">模板列表</h3>
      <p>
     	 <table class="table table-striped table-condensed col-sm-12">
			  <thead>
			    <tr>      
			      <th>序号</th>
			      <th>名称</th>
			      <th>编辑</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="temp in temps" ng-dblclick="editTemp(temp)" >
			      <td>{{ $index + 1 }}</td>
			      <td>{{ temp.name }}</td>
			     <td >
			        <button class="btn" ng-click="editTemp(temp)">
			          <span class="glyphicon glyphicon-pencil"></span>
			        </button>
			        <button class="btn" ng-click="del(temp)">
			          <span class="glyphicon glyphicon-remove"></span>
			        </button>
			      </td>
			    </tr>
	 		 </tbody>
		</table>
		<ul class="pager col-sm-5">
		    <li><button class="btn" ng-click="previous()" ng-disabled = " start - 1 <= 0">
			       <span class="glyphicon glyphicon-chevron-left"></span>
			    </button></li>		    
		    <li><button class="btn" ng-click="next()" ng-disabled = "start * limit > count">
			       <span class="glyphicon glyphicon-chevron-right"></span>
			    </button></li>
		</ul>
		<span class=" pager col-sm-7  text-right"> 当前第{{start}}页    共{{count}}条数据</span>
	</p>
    </div>
    <div class="col-sm-6">
      	  <h3 class="col-sm-5">模板内容</h3>
      	  <h4 ng-show="message !=''" class="pull-right col-sm-7">{{ message }}</h4>
      	  <form class="col-sm-12" name="myForm" class="form-horizontal"  novalidate="novalidate">
	      	  <hr>
				<button class="btn btn-success" ng-click="newTemp()">
					<span class="glyphicon glyphicon-user"></span>创建新模板
				</button>
				
				<button class="btn btn-success pull-right" ng-click="save()" ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  myForm.content.$dirty && myForm.content.$invalid">
					<span class="glyphicon glyphicon-save"></span>保存
				</button>
			  <hr>
	      
			  <div class="form-group">
			    <label class="col-sm-3 control-label  text-right">名称:</label>
			    <div class="col-sm-9">
			    	<input type="text" name ="name" ng-model="temp.name" placeholder="名称" required ng-maxlength="50" ng-minlength="2">
			    	<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
						<span ng-show="myForm.name.$error.required">用户名是必须的。</span>
						<span ng-show="myForm.name.$error.maxlength">名称长度不能超过50。</span>
						<span ng-show="myForm.name.$error.minlength">名称长度不能少于2。</span>
					</span>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label class="col-sm-3 control-label  text-right" >模板内容:</label>
			    <div class="col-sm-9">
			        <textarea rows="35" name ="content" ng-model="temp.content" required style="width:100%" ></textarea>  
			        <span style="color:red" ng-show="myForm.content.$dirty && temp.content.$invalid">
						<span ng-show="myForm.content.$error.required">模板内容。</span>
					</span>
			    </div>
			  </div>
			</form>
    </div>
    
  </div>
</div>

<script src="js/myTemp.js"></script>

</body>
</html>
